@media (max-width: 770px){

/*global*/
body{
    background-color: black;
    color: white;
    font-family: GeoBrandBold, CenturyGothic, AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
}
/*set up the nav menu bar*/
#menu{
    visibility: hidden;
    display: none;
}
#newsletter{
    visibility: hidden;
    display: none;
}
#magnify-icon{
    visibility: hidden;
    display: none;
}
#full-size-natgeo-logo{
    visibility: hidden;
    display: none;
}
#small-logo{
    visibility: visible;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    justify-content: flex-end;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background: white;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-left: 14px;
    height: 5vh;
    padding-top: 3vh;
    margin: 0px;
}

#small-logo{
    margin-right: 33%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: white;
    background-color: white;
}

#subscribe{
    background-color: black;
    color: white;
    height: 5vh;
    padding-top: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    /* make the animation*/
    display: block;
    background: linear-gradient(to right, #ffce00 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

#subscribe:hover{
    background-position: left bottom;
    color: black;
    cursor: pointer;
}

.icon-menu{
    margin-right: 4vh;
    margin-left: 4vh;
    color: black;
}

#login{
    margin-right: 20px;
}

/*set up the header*/
/*header*/
h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 0;
    line-height: 1.50;
}

header p{
    text-align: center;
    letter-spacing: .1px; 
    font-size: 18px;
    margin-top: 10px;
    margin-right: 30px;
    font-weight: normal;
}

.line{
    width: 8%;
    justify-content: center;
    margin-top: 30px;
    margin-left: 45%;
    height: 2px;
    border-bottom: #ffce00 4px solid;
}

#subscribe-scroll-up{
    background-color: black;
    color: white;
    height: 3vh;
    padding: none;
    /*add the animation*/
    background: linear-gradient(to top, #ffce00 50%, black 50%);
    background-size: 100% 200%;
    background-position: left top;
    transition: all .5s ease-in-out;
    margin: 0;
}

#subscribe-scroll-up:hover{
    background-color: #ffce00;
    color: black;
    background-position: left bottom;
    cursor: pointer;
}

/*set up the feature article*/
#feature-image{
    max-width: 100%;
    max-height: 410px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 60px;
    padding: 0 0 0 0;
    overflow: hidden;
}

#feature-image:hover{
    cursor: pointer;
}

#feature-image img{
    width: 100%;
    height: 410px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    object-fit: cover;
    /*add the animation*/
    transition: all 0.5s ease-in-out;
}

#feature-image:hover img{
    transform: scale(1.05);
    overflow: hidden;
}

#feature-description h4{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0 0 0 0;
    text-shadow: black 1px 1px;
}

#feature-description:hover h4{
    text-decoration: underline;
    cursor: pointer;
}

#feature-description p{
    font-size: 35px;
    letter-spacing: 0;
    margin-top: 8px;
    text-shadow: black 1px 1px;
    margin-right: 30px;
}

#feature-description p:hover{
    cursor: pointer;
}

.icon-pairs2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: auto;
    width: 100px;
    margin: 0 0 0 0;
    text-shadow: black 1px 1px;
}

.header-icon{
    margin-right: 10px;
}

#feature-description{
    position: absolute;
    z-index: 1;
    margin-right: 20px;
    left: 60px;
    top: 490px;
}

/*set up medium size articles*/
.icon-pairs{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: auto;
    width: 200px;
    margin: 0 0 0 0;
    text-shadow: black 1px 1px;
}

.color-icon{
    margin-right: 10px;  
    margin-left: 20px;
}

.highlight-img{
    max-width: 100%;
    max-height: 320px;
    overflow: hidden;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.highlight-img img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /*animation*/
    transition: all .5s ease-in-out;
    scale: 1;
    overflow: hidden;
}

.highlight-img:hover img{
    transform: scale(1.05);
}

.highlight-img:hover{
    height: 315px;
    border-bottom: 5px solid #ffce00 ;
}

.medium-feature-description{
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 200px;  
}

.medium-feature-description:hover{
    cursor: pointer;
}

.medium-feature-description h4 a{
    text-transform: uppercase;
    font-size: 14px;
    color: dimgray;
    margin: 0 0 0 0;
}

.medium-feature-description h4 a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.medium-feature-description h4:hover{
    cursor: pointer;
    text-decoration: underline;
}

.medium-feature-description h4{
    text-transform: uppercase;
    font-size: 14px;
    color: dimgray;
    margin: 15px 0px 5px 20px;
}

.medium-feature-description h5{
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    margin: 0 0 0 0;
    width: 200px;
    text-shadow: none;
}

.medium-feature-description p{
    font-size: 26px;
    letter-spacing: 0;
    font-weight: bold;
    margin: 10px 15px 40px 20px;
}

.medium-feature-description p:hover{
    cursor: pointer;
}

.highlight-one{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 0;
    margin-left: 4%;
    margin-right: 4%;
}

.highlight-two{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 0;
    margin-left: 4%;
    margin-right: 4%;
}

/*add the today's picks section*/
h3{
    margin-left: 4%;
    margin-bottom: 40px;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-left: #ffce00 5px solid;
    padding-left: 15px;
    line-height: 80%;
}

.picture-title-left img{
    width: 90px;
    height: 90px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    flex: left;
    cursor: pointer;
}

.title-plus-description-box{
    display: flex;
    flex-direction: column;
    flex: right;
    margin-left: 15px;
    margin-top: 0px;
    margin-right: 20px;
    cursor: pointer;
}

.picture-title-left{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-bottom: 30px;
}

#latest-stories-box{
    display: flex;
    flex-direction: column;
}

.align-items-up{
    margin: 0 0 0 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.title-plus-description-box a{
    font-weight: bold;
    line-height: 25px;   
}

.title-plus-description-box a:hover{
    text-decoration: underline;
}

.see-more{
    text-align: center;
    justify-content: center;
    border-bottom: #ffce00 3px solid;
    width: 90px;
    margin-left: 45%;
    padding-top: 3px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;

    /*add the animation*/
    background: linear-gradient(to top, #ffce00 50%, black 50%);
    background-size: 100% 200%;
    background-position: left top;
    transition: all .5s ease-in-out;
}

.see-more:hover{
    color: black;
    background-position: left bottom;
    cursor: pointer;
}
}