/*global*/
body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    background-attachment: scroll;
    color: white;
    width: auto;
    font-family: GeoBrandBold, CenturyGothic, AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
}

a{
    text-decoration: none;
    color: white;
    
}

/*header*/
#small-logo{
    visibility: hidden;
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    justify-content: flex-end;
    background-color: white;
    margin: 0;
    padding: 0;
}

nav img{
    margin-right: 50%;
    margin-top: 1vh;
    margin-bottom: 1vh;

}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin: 0px;
    margin-left: 14px;
    height: 5vh;
    padding-top: 3vh;
}

#subscribe{
    background-color: black;
    color: white;
    height: 5vh;
    padding-top: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    /* make the animation*/
    display: block;
    background: linear-gradient(to right, #ffce00 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

#subscribe:hover{
    background-position: left bottom;
    color: black;
}

#newsletter{
    text-decoration: underline;
    text-decoration-color: #ffce00;
    text-decoration-style: bolder;
    height: 3vh;
    margin-top: 3vh;
    padding-top: 0px;
    font-weight: normal;
    text-transform: capitalize;
    /*make the animation*/
    display: block;
    background: linear-gradient(to top, #ffce00 50%, white 50%);
    background-size: 100% 200%;
    background-position: left top;
    transition: all .5s ease-out;
    
}

#newsletter:hover{
    text-decoration: none;
    font-weight: normal;
    background-position: left bottom;
}

#subscribe-scroll-up{
    display: inline-block;
    background: linear-gradient(to top, #ffce00 50%, black 50%);
    background-size: 100% 200%;
    background-position: left top;
    transition: all 1s ease-out;
}
#subscribe-scroll-up:hover{
    background-position: left bottom;
    color: black;
}

#icon-menu{
    margin-right: 4vh;
    margin-left: 1vh;
    font-weight: normal;
}

/*header*/
h1{
    text-align: center;
    font-size: 54px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 0;
    line-height: 1.50;
}

header p{
    text-align: center;
    letter-spacing: .1px; 
    font-size: 20px;
    margin-top: 10px;
    font-weight: normal;
}

.line{
    width: 5%;
    justify-content: center;
    margin-left: 47%;
    height: 2px;
    border-bottom: #ffce00 4px solid;
}

#subscribe-inline{
    background-color: black;
    color: white;
    height: 3vh;
    padding: none;
    text-decoration: none;
}

#subscribe-inline:hover{
    background-color: #ffce00;
    color: black;
}

/*set up the box structure*/
    /*left hand side*/
    #latest-stories-box{
        display: flex;
        flex-direction: column;
        width: 420px;
    }
    .picture-title-left{
        display: flex;
        flex-direction: row;
        width: 350px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 0;
        padding-right: 10px;
        padding-top: 0;
    }

    .align-items-up{
        margin-top: 0;
        margin-bottom: 5px;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .title-plus-description-box{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        font-weight: normal;
        font-size: 16px;
        padding-top: 0;
        padding-right: 25px;
        letter-spacing: 1px;
        height: 90px;   
        align-items: flex-start; 
    }
    .title-plus-description-box p{
        padding-top: 0;
        font-weight: bolder; 
        text-transform: uppercase;
    }

    #latest-stories-box img{
        height: 90px;
        width: 90px;
        flex: left;
        padding: 0;
    }

    /*medium feature stories*/
    .medium-feature-description{
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 200px;
        margin-left: 0;
        padding-right: 15px;
        padding-left: 20px;
        background-color: white;
        color: black;
    }
    
    .highlight-one{
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 400px;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 0 0 0;
    }
    .highlight-img{
        width: 280px;
        height: 200px;
        position: center center;
        overflow: hidden;
        margin: 0 0 0 0;
        padding: 0 0 0 0;

    }

    .highlight-img:hover{
        border-bottom: #ffce00 solid 5px;
    }

    .highlight-img img{
        width: 280px;
        height: 200px;
        transition: all 1s ease-in-out;
    }

    .highlight-img:hover img{
        transform: scale(1.20);
    }

    #article-highlights{
        display: flex;
        flex-direction: row;
        flex: right;
    }

    /*put the feature article together*/
    #feature-description{
        display: flex;
        flex-direction: column;
        width: 610px;
        height: 400px;
        background-image: url('pictures/stranger-kindness.jpg');
        background-size: cover;
        justify-content: end;
        background-position: center center;
    }

    #feature-article{
        display: flex;
        flex-direction: column;
        flex: right;
    }

    #feature-description:hover{
        background-image: url('pictures/stranger-kindness.jpg');
        background-size: 120%;
        background-position: center center;
        cursor: pointer;
    }

    #everything{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-left: 12%;
        margin-top: 30px;
    }

/*setting up the fonts for the boxes*/
    h3{
        font-size: 34px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0;
        margin-top: 0;
        border-left: #ffce00 solid 5px;
        padding-left: 15px;
        line-height: 30px;
        }

    #feature-description h4{
      margin-left: 20px;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    #feature-description p{
        font-size: 38px;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 0;
        font-weight: bold;
        letter-spacing: .1px;
        padding-right: 20px;
        text-shadow: 1px 1px black;
    }

    .medium-feature-description p{
        font-size: 22px;
        font-weight: bolder;
        letter-spacing: 1px;
        margin-top: 20px;
        color: black;
    }

    .medium-feature-description h4{
        margin-bottom: 8px;
        color: black
    }

    .medium-feature-description a{
        color: darkgrey;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .medium-feature-description span{
        color: darkgrey;
        text-transform: uppercase;
    }

    .icon-pairs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 110px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .icon-pairs2{
        display: flex;
        flex-direction: row;
        align-items: left;
        width: 70px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .icon-pairs2 h4{
        padding: 0;
        margin: 0;
    }

    .icon-pairs h4{
        padding: 0;
        margin: 0;
    }

    .header-icon{
        color: white;
        margin-right: 0;
    }

    .color-icon{
        color: black;
        font-size: 14px;
    }

    .see-more{
        border-bottom: #ffce00 solid 5px;
        margin-right: 340px;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size: 14px;

        display: block;
        background: linear-gradient(to top, #ffce00 50%, black 50%);
        background-size: 100% 200%;
        background-position: left top;
        transition: all .5s ease-in-out;
    }

    .see-more:hover{
        background-position: left bottom;
        color:  black;
    }